:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

button {
  width: 250px;
  height: 80px;

  font-size: 24px;
  font-weight: bold;

  border-radius: 10px;
}

canvas {
  background-color: #000;
}

header h1 {
  font-size: 72px;
  margin-bottom: 0;
}

#app {
  display: flex;
  flex-direction: column;
  gap: 15px;

  margin: 0 auto;

  max-width: 800px;
}

